<style>
  .vue-grid {
    display: flex;
    flex-direction: column;
  }
</style>
<script type="text/javascript">
    Vue.component('vue-grid', {
        props: {
            columns: Array,
            data: Array
        },
        template: '#vue-grid-template'
    });
</script>

<script type="text/template" id="vue-grid-template">
  <div class="vue-grid">
    <slot></slot>
    <table class="table">
      <thead>
        <tr>
          <th v-if="columns.length > 0" v-for="col in columns">{{col.title}}</th>
          <slot v-else name="header"></slot>
        </tr>
      </thead>
      <tbody>
        <tr v-for="line in data">
          <td v-for="col in columns">{{line[col.name]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</script>